.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContent,
.descriptionContent {
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.invalid {
  border-color: red;
  background: #ffd7d7;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px gray;
  padding: 20px;
}
